<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Shopping</title>
  <link th:href="@{/css/styles.css}" rel="stylesheet">
  <link rel="stylesheet" href="../../../../../../spring_shopping/static/css/styles.css">
</head>
<body>
<div class="container">
  <div th:insert="navbar"></div>
  <div class="main">
    <div class="main__inner l-wrap-inner" style="display: flex">
      <section style="width: 80%;">
        <h1 style="margin: 20px 0" th:text="*{products[0].category.name}"></h1>
        <div class="product_container" style="flex-wrap: wrap">
          <div class="product_card" th:each="product : ${products}" style="width: calc(33.3% - 20px)">
            <a th:href="@{/product/{id}(id = ${product.id})}">
              <img th:if="${product.images.isEmpty()}" th:src="@{/images/no_image.jpg}"  alt="img"/>
            </a>
            <a th:href="@{/product/{id}(id = ${product.id})}">
              <img th:if="${!product.images.isEmpty()}" th:src="@{${product.images[0].filePath}}" />
            </a>
            <span th:text="${product.category.name}" style="background-color: #e5e5e5; padding: 5px 10px; border-radius: 5px; margin-bottom: 5px; display: inline-block"></span>
            <p th:text="${product.title}"></p>
            <h5 th:text="'$' + ${product.price}"></h5>
          </div>
        </div>
      </section>
      <section class="all_category" style="width: 20%">
        <h1 style="margin: 20px 0">All Category</h1>
        <div>
          <a th:href="@{/all-products/category={category}(category = ${category.id})}" th:each="category : ${categories}" th:value="${category.id}" th:text="*{category.name}" style="margin-bottom: 10px; display: block; color: #000"></a>
        </div>
      </section>
    </div>
  </div>
</div>
</body>
</html>